/* .para {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant: small-caps;
    font-size: 2rem;
    font-family: 'Silkscreen', cursive;
}
.fa {
    color: blue;
} */

/* .outer {
    background-color: aqua;
    height: 300px;
    width: 300px;
}
.head {
    background-color: blue;
    height: 50px;
    width: 100%;
}
.main {
    background-color: blanchedalmond;
    width: 100%;
    height: 100px;
}
.left-sidebar {
    background-color: green;
    height: 100%;
    width: 30%;
    float: left;
}
.content {
    background-color: red;
    height: 100%;
    width: 40%;
    float: left;
}
.right-sidebar {
    background-color: green;
    height: 100%;
    width: 30%;
    float: right;
}
.footer {
    background-color: blue;
    width: 100%;
    height: 50px;
} */

.outer {
    background-color: aqua;
    /* overflow: auto; */
    /* overflow-x: scroll; */
    height: 250px;
    width: 250px;
    position: static;
    /* white-space: nowrap; */
}
.chat-bot {
    background-color: red;
    height: 40px;
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    position: sticky;
    top: 15px;
}
.chat-bot1 {
    background-color: blue;
    height: 40px;
    width: 90%;
    padding: 10px;
    border-radius: 30px;
}
/* .inner1 {
    background-color: red;
    width: 200px;
    height: 400px;
    float: right;
} */
/* .inner2 {
    background-color: blue;
    width: 300px;
    height: 200px;
    clear:left;
    color: white;
} */